* {
	padding: 0;
	margin: 0;
	font-family: 'Anek Latin', sans-serif;
}

body {
	background: #166153;
}

/*? Start Menu */
#game-menu {
	width: 500px;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 40px;
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	padding: 15px;
	padding-bottom: 20px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#classic {
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	margin-top: 50px;
	padding: 5px;
	width: 90%;
	font-size: 20px;
	text-decoration: none;
	background-color: #166153;
}

#classic:hover {
	background: #42e4c6;
	transition: .1s ease-in;
}

#easy {
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	margin-top: 4px;
	padding: 5px;
	width: 90%;
	font-size: 20px;
	text-decoration: none;
	background-color: #166153;
}

#easy:hover {
	background: #42e4c6;
	transition: .1s ease-in;
}

#medium {
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	margin-top: 4px;
	padding: 5px;
	width: 90%;
	font-size: 20px;
	text-decoration: none;
	background-color: #166153;
}

#medium:hover {
	background: #42e4c6;
	transition: .1s ease-in;
}

#hard {
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	margin-top: 4px;
	padding: 5px;
	width: 90%;
	font-size: 20px;
	text-decoration: none;
	background-color: #166153;
}

#hard:hover {
	background: #42e4c6;
	transition: .1s ease-in;
}

#counter {
	color: white;
	border: 2px solid #42e4c6;
	border-radius: 20px;
	margin-top: 4px;
	padding: 5px;
	width: 90%;
	font-size: 20px;
	text-decoration: none;
	background-color: #166153;
}

#counter:hover {
	background: #42e4c6;
	transition: .1s ease-in;
}


/*
#player {
	background-color: skyblue;
	width: 50px;
	height: 50px;
	position: relative;
	opacity: 0;
}

#health {
	background-color: red;
	width: 100%;
	height: 10px;
	position: absolute;
	opacity: 0;
}

#healthRemaining {
	background-color: rgb(97, 45, 45);
	width: 100%;
	height: 10px;
	position: absolute;
	opacity: 0;
}
*/

/*? Win */

/*
#win { 
	color: white;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	display: flex;
	flex-direction: column;
}

#rematch {
	text-align: center;
	background: white;
	border: none;
	font-size: 20px;
	opacity: 0;
}

#rematch:hover {
	background-color: wheat;
	transition: .5s;
}
*/